.profile {
  display: flex;
  margin: 0 auto;
  max-width: calc(100% - 200px * 2);  
  align-items: center;
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: calc(100% - 19px * 2);
        flex-direction: column;
    }
}